    {% extends "@amUser/layoutKarjoo.html.twig" %}

{% block user_content %}
    {% trans_default_domain 'FOSUserBundle' %}
    <div class="container-fluid change-password-karfarma-parent">
        <div class="row">
            <div class="col-md-2"></div>
            <div class="container-fluid col-md-9 change-password-karfarma">
                {{ form_start(form, { 'action': path('fos_user_change_password') }) }}
                {{ form_errors(form) }}
                <div class="row">
                    <div class="col-md-6 col-sm-6 exception-karjoo-sm">
                        {{ form_label(form.fName) }}
                        {{ form_widget(form.fName,{attr: {'class': 'form-control'}}) }}
                        {{ form_errors(form.fName) }}
                    </div>
                    <div class="col-md-6 col-sm-6 exception-karjoo-sm">
                        {{ form_label(form.lName) }}
                        {{ form_widget(form.lName,{attr: {'class': 'form-control'}}) }}
                        {{ form_errors(form.lName) }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 col-sm-6">
                        {{ form_label(form.birth_year) }}
                        {{ form_widget(form.birth_year,{attr: {'class': 'form-control'}}) }}
                        {{ form_errors(form.birth_year) }}
                    </div>

                </div>
                <div class="row">
                    <div class="col-md-6 col-sm-6">
                        <label for="phone_number">تلفن همراه</label>
                        {{ form_widget(form.mobile,{attr: {'class': 'form-control'}}) }}
                        {{ form_errors(form.mobile) }}
                    </div>
                    <div class="col-md-6 col-sm-6">
                        <label for="website">وبسایت</label>
                        {{ form_widget(form.karjoo.website,{attr: {'class':'form-control'}}) }}
                        {{ form_errors(form.karjoo.website) }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 col-sm-6">
                        <label for="email">*ایمیل</label>
                        {{ form_widget(form.email,{attr: {'class': 'form-control'}}) }}
                        {{ form_errors(form.email) }}
                    </div>
                    <div class="col-md-6 col-sm-6">
                        <label>جنسیت</label><br>
                        {{ form_widget(form.gender) }}
                        {{ form_errors(form.gender) }}
                    </div>
                </div>
                <div class="row">
                    {#<div class="col-md-6 col-sm-6">
                        {{ form_label(form.current_password) }}
                        {{ form_widget(form.current_password,{attr: {'class': 'form-control'}}) }}
                        {{ form_errors(form.current_password) }}
                    </div>#}
                    <div class="col-md-6 col-sm-6">
                        {{ form_label(form.username) }}
                        {{ form_widget(form.username,{attr: {'class': 'form-control' , 'disabled':'disabled'} }) }}
                        {{ form_errors(form.username) }}
                    </div>
                </div>
                <div class="row">
                    {% for f in form.plainPassword %}
                        <div class="col-md-6 col-sm-6 exception-karjoo-sm">
                            {{ form_label(f) }}
                            {{ form_widget(f,{attr: {'class': 'form-control'}}) }}
                            {{ form_errors(f) }}
                        </div>
                    {% endfor %}
                </div>
                <div class="row" style="margin: 20px 0">
                    <div class="col-md-2 col-sm-2"></div>
                    <div class="col-md-8 col-sm-8" style="text-align: center">
                        <button id="submit" type="submit" class="btn btn-success">ثبت تغییرات</button>
                    </div>
                    <div class="col-md-2 col-sm-2"></div>
                </div>
                {{ form_end(form) }}
            </div>
            <div class="col-md-1"></div>
        </div>
    </div>
{% endblock user_content %}
