{% extends '@swdtUser/layout.html.twig' %}

{% block user_content %}
    <div class="container-fluid grid-square-parent">
        <div class="row">
            <div class="col-lg-2 col-sm-1"></div>
            <div class="col-lg-8 col-sm-10 karfarma-grid-square grid-square">
                <div class="row">
                    <div class="col-md-5">
                        <a href="{{ path('swdt_karyab_advertise_new') }}">
                            <div style="background-color: #4ECDC4">
                                <i class="fa fa-plus-square grid-icon-square" aria-hidden="true"></i>
                                <span class="grid-content-square g2">ایجاد فرصت شغلی</span>
                            </div>
                        </a>
                    </div>
                    <div class="col-xs-12 col-md-7">
                        <a href="{{ path('karyab_karfarma_advertise_index') }}">
                            <div style="background-color: #C7F464">
                                <i class="fa fa-handshake-o grid-icon-square" aria-hidden="true"></i>
                                <span class="grid-content-square g1">فرصت های شغلی</span>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-7" style="padding-right: 0">
                        <a href="{{ path('swdt_karyab_advertise_new') }}">
                            <div style="background-color: #4ECDC4">
                                <i class="fa fa-plus-square grid-icon-square" aria-hidden="true"></i>
                                <span class="grid-content-square g2">ایجاد فرصت شغلی</span>
                            </div>
                        </a>
                    </div>
                    <div class="col-md-7">
                        <a href="{{ path('fos_user_change_password') }}">
                            <div style="background-color: #EDE574">
                                <i class="fa fa-pencil-square-o grid-icon-square" aria-hidden="true"></i>
                                <span class="grid-content-square g4">اطلاعات کاربری</span>
                            </div>
                        </a>
                    </div>
                    <div class="col-xs-5 col-md-5">
                        <a href="{{ path('fos_user_profile_edit_karfarma') }}">
                            <div style="background-color: #FF6B6B">
                                <i class="fa fa-address-book-o grid-icon-square" aria-hidden="true"></i>
                                <span class="grid-content-square g3">پروفایل</span>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-4 col-md-12">
                        <a href="{{ path('fos_user_security_logout') }}">
                            <div style="background-color: #E1F5C4">
                                <i class="fa fa-power-off center-icon-square" aria-hidden="true"></i>
                            </div>
                        </a>
                    </div>
                    <div class="col-xs-8" style="padding-left: 0">
                        <a href="{{ path('fos_user_change_password') }}">
                            <div style="background-color: #EDE574">
                                <i class="fa fa-pencil-square-o grid-icon-square" aria-hidden="true"></i>
                                <span class="grid-content-square g4">اطلاعات کاربری</span>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-sm-1"></div>
        </div>
    </div>
{% endblock user_content %}