{% extends '@amUser/layout.html.twig' %}
{% block sidebar %}

    <div class="my_sidebar_sm">
        <ul>
            <li><a href="{{ path('fos_user_change_password') }}"><i class="fa fa-inbox fa-2x fa-fw" style="line-height: 1.25;"></i><div>اطلاعات کاربری</div></a></li>
            <li><a href="{{ path('karyab_karfarma_advertise_index') }}"><i class="fa fa-info fa-2x fa-fw" style="line-height: 1.25;"></i><div>فرصت های شغلی</div></a></li>
            <li><a href="{{ path('fos_user_profile_edit_karfarma') }}"><i class="fa fa-user fa-2x fa-fw" style="line-height: 1.25;"></i><div>پروفایل</div></a></li>
            <li>
                <a href="{{ path('am_karyab_advertise_new') }}">
                    <i class="fa fa-plus-square center-icon-cycle"  style="line-height: 2;width: 100%"></i><div style="margin-top:-15px;">ایجاد فرصت شغلی</div>
                </a>
            </li>
            <li><a href="{{ path('fos_user_security_logout') }}"><i class="fa fa-power-off fa-2x fa-fw" style="line-height: 1.25;"></i><div>خروج</div></a></li>

        </ul>
    </div>
    <div class="my_sidebar_lg">
        <ul>
            <li>
                <a href="{{ path('am_karyab_advertise_new') }}">
                    <i class="fa fa-plus-square center-icon-cycle"  style="line-height: 2;width: 100%"></i><div style="margin-top:-15px;">ایجاد فرصت شغلی</div>
                </a>
            </li>
            <li><a href="{{ path('karyab_karfarma_advertise_index') }}"><i class="fa fa-info fa-3x fa-fw" style="line-height: 2;width: 100%"></i><div style="margin-top:-15px;">فرصت های شغلی</div></a></li>
            <li><a href="{{ path('fos_user_change_password') }}"><i class="fa fa-inbox fa-3x fa-fw" style="line-height: 2;width: 100%"></i><div style="margin-top:-15px;">اطلاعات کاربری</div></a></li>
            <li><a href="{{ path('fos_user_profile_edit_karfarma') }}"><i class="fa fa-user fa-3x fa-fw" style="line-height: 2;width: 100%"></i><div style="margin-top:-15px;">پروفایل</div></a></li>

            <li><a href="{{ path('fos_user_security_logout') }}"><i class="fa fa-power-off fa-3x fa-fw" style="line-height: 2;width: 100%"></i><div style="margin-top:-15px;">خروج</div></a></li>

        </ul>
    </div>


{% endblock %}
