{% if form is defined %}
{% form_theme form '@amKaryab/form_errors.html.twig' %}{% endif %}
<!DOCTYPE html>
<html lang="fa">
<head>
    <meta charset="UTF-8">
    <title>SWDT</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">

{#    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>#}


    <link rel="stylesheet" href="{{ asset('am_template/font-awesome-4.7.0/css/font-awesome.min.css') }}">

    <meta charset="UTF-8">
    <title>دانشکار {% block title %}{% endblock %}</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="{{ asset('am_template/bootstrap.min.css') }}">

    <script src="{{ asset('am_template/js/jquery.min.js') }}"></script>

    <script src="{{ asset('am_template/js/jquery-1.11.1.js') }}"></script>

    <script src="{{ asset('am_template/js/bootstrap.min.js') }}"></script>


    <script src="{{ asset('am_template/js/jquery.validate.js') }}"></script>

    <script src="{{ asset('am_template/js/form-validation.js') }}"></script>

    <script src="{{ asset('am_template/js/additional-methods.js') }}"></script>

    <script src="{{ asset('am_template/js/bootstrap-select.min.js') }}"></script>

    <link rel="stylesheet" href="{{ asset('am_template/css/bootstrap-select.min.css') }}">
    <link rel="stylesheet" href="{{ asset('am_template/font-awesome-4.7.0/css/font-awesome.min.css') }}">

    <link rel="stylesheet" type="text/css" href="{{ asset('am_template/css1.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('am_template/NewCss.css') }}">

</head>
<body>
<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">
                <li><a href="#">دانشکار</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#">تماس با ما</a></li>
                <li><a href="#">درباره ی ما</a></li>
                <li><a href="#">کارها</a></li>
                <li><a href="#">صفحه اصلی</a></li>
            </ul>
        </div>
    </div>
</nav>
<div class="container-fluid" style="font-family:yekan;text-align:right;padding:10px;padding-right:25px;padding-left:25px" id="bor">
    <div style="float:left">امروز: {{ date('now')|jdate() }}</div>
    {% if is_granted('IS_AUTHENTICATED_FULLY') %}

    <div>{{ app.user.fName }} عزیز خوش آمدید</div>
{% endif %}
</div>




{% block sidebar %}
{% endblock %}
{% block karyabContent %}
{% endblock %}


<div class="container-fluid my_footer">
    <span>یک محصول از گروه A.M</span>
    <ul>
        <li><a href="#">وبلاگ</a><i class="fa fa-circle" style="font-size: 0.5em;color: #D81B60;margin-left: 3px"></i></li>
        <li><a href="#">تماس با ما</a><i class="fa fa-circle" style="font-size: 0.5em;color: #D81B60;margin-left: 3px"></i></li>
        <li><a href="#">امکانات</a></li>
    </ul>
</div>


</body>
</html>


{#<div class="my_title">
    <span>عنوان آگهی : برنامه نویس وب</span>
    <span style="vertical-align: top;">شرکت : intek</span>
</div>
<div class="clear_fix"></div>
<div id="collapse2" class="panel-collapse collapse">
    <div class="panel-body">
        <div><span class="first">شرح شغل و آگهی ارسالی : </span><span>مسلط به C#,HTML,CSS</span></div>
        <div><span class="first">سایر مهارت ها : </span><span>---</span></div>
        <div><span class="first">میزان تحصیلات : </span><span>لیسانس</span></div>
        <div><span class="first">جنسیت : </span><span>مذکر</span></div>
        <div><span class="first">وضعیت استخدامی : </span><span>پاره وقت</span></div>
        <div><span class="first">وضعیت سربازی : </span><span>معافیت تحصیلی</span></div>
        <div>
            <label class="btn btn-success btn-file" style="width: 12%;min-width: 93px;float: left;padding: 1px 12px;">
                ارسال رزومه ...
                <input type="file" style="display: none;">
            </label>
        </div>
    </div>
</div>#}