{% extends '@amKaryab/base.html.twig' %}

{% block karyabContent %}
    <link rel="stylesheet" type="text/css" href="{{ asset('am_template/css.css') }}">

    {{ form_start(form, { 'action': path('am_karyab_contact_us') }) }}

    {{ form_errors(form) }}

    <!-- Start page header -->
    <section>
        <div class="container">
            <div class="row">
                <div class="col-sm-12" style="text-align:center">
                    <h3 style="margin:0px"> تماس با ما </h3>
                </div>
            </div>
            <img src="{{ asset('am_template/img/divider_shadow.png') }}" title="" width="100%" alt="" />
        </div>
    </section>
    <!-- End page header -->


    <section class="contact" style="text-align:right;direction:rtl;margin-top:10px;margin-bottom:70px">
        <div class="container">
            <div class="row">
                <div class="col-sm-4 our-office">
                    <div class="test">
                        <h4>ارتباط با ما</h4>
                        <hr />
                        {#<p>مراجعه در روز های کاری از ساعت 10 الی 14</p>#}
                        <dl>
                            <dt>ایمیل:</dt>
                            <dd><a href="mailto:info@daneshkar.net">info@daneshkar.net</a></dd>

                        </dl>
                    </div>
                </div>
                <div class="col-sm-8 contact-form">
                    <div class="test">
                        <h4>ارسال پیام به ما</h4>
                        <hr />
                        <form>
                            {% if fullName %}
                                    <div class="form-group" >
                                        {{ form_label(form.name) }}
                                        {{ form_widget(form.name,{attr: {'class': 'form-control' , disabled:"disabled" , value:fullName }}) }}
                                        {{ form_errors(form.name) }}
                                    </div>
                            {% else %}
                                    <div class="form-group" >
                                        {{ form_label(form.name) }}
                                        {{ form_widget(form.name,{attr: {'class': 'form-control'}}) }}
                                        {{ form_errors(form.name) }}
                                    </div>
                            {% endif %}

                            {% if UserEmail %}
                                    <div class="form-group" >
                                        {{ form_label(form.email) }}
                                        {{ form_widget(form.email,{attr: {'class': 'form-control' , disabled:"disabled" , value:UserEmail}}) }}
                                        {{ form_errors(form.email) }}
                                    </div>
                            {% else %}
                                    <div class="form-group" >
                                    {{ form_label(form.email) }}
                                    {{ form_widget(form.email,{attr: {'class': 'form-control'}}) }}
                                    {{ form_errors(form.email) }}
                                    </div>
                            {% endif %}
                            <div class="form-group" >
                                {{ form_label(form.subject) }}
                                {{ form_widget(form.subject,{attr: {'class': 'form-control'}}) }}
                                {{ form_errors(form.subject) }}
                            </div>
                            <div class="form-group" >
                                {{ form_label(form.message) }}
                                {{ form_widget(form.message,{attr: {'class': 'form-control'}}) }}
                                {{ form_errors(form.message) }}
                            </div>

                            <button style="margin-top:0px;" type="submit" class="btn btn-success">ارسال پیام</button>
                            {{ form_end(form) }}

                        </form>
                    </div>
                </div>

            </div>
    </section>

{% endblock %}