{% extends "@amUser/layoutKarfarma.html.twig" %}

{% block user_content %}
    <div class="container-fluid profile-karfarma-parent">
        <div class="row">
            <div class="col-md-2"></div>
            <div class="container-fluid col-md-9 profile-karfarma">
                {{ form_start(form, { 'action': path('fos_user_profile_edit_karfarma') }) }}
                <div class="row">
                    {% if form.vars.errors %}
                        <div class="errorBox">{{ form_errors(form) }}</div>
                    {% endif %}
                </div>
                <div class="row">
                    <div class="col-sm-6"></div>
                    <div class="col-sm-6">
                        <div style="margin-bottom: 0" class="form-group">
                            <div>
                                <label for="uploadFile">لوگوی شرکت</label><br>
                                {#{% if app.user.karfarma.avatar is not null %}#}
                                    <img src="{{ app.user.karfarma.avatarWeb }}" style="background-color:#fff;border-radius:5px;border:1px solid;margin-bottom:5px;width: 100px;height: 100px;"/><br>
                                {#{% endif %}#}
                                <div style="clear: both"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6 col-xs-12 right-sm">
                        <div style="margin-bottom: 0" class="form-group">
                            <label style="padding-right: 5px" for="uploadFile">آپلود لوگوی شرکت</label><br>
                        <div class="col-xs-4" style="padding: 0 5px 0 0;">
                            <div style="width: 100%" class="fileUpload btn btn-primary">
                                <span class="filename">انتخاب عکس</span>
                                {{ form_widget(form.karfarma.file,{attr: {'class': 'upload'}}) }}
                            </div>
                        </div>
                        <div class="col-xs-8" style="padding: 0">
                            <span id="uploadFile" class="form-control" style="width:100%;display:inline-block;white-space: nowrap;overflow: hidden;direction: ltr;text-overflow: ellipsis;" placeholder="نام فایل" disabled="disabled" >نام فایل</span>
                        </div>
                            {{ form_errors(form.karfarma.file) }}

                            {% if app.user.karfarma.avatar is not null %}
                                <label class="radio-inline">
                                    حذف لوگو؟
                                    <input type="checkbox" value="1" name="deleteAvatar">

                                </label>
                            {% endif %}
                    </div>
                    </div>
                    <div class="col-sm-6 col-xs-12 right-sm">
                        <div class="form-group">
                            {{ form_label(form.karfarma.company_name) }}
                            {{ form_widget(form.karfarma.company_name,{attr: {'class': 'form-control'}}) }}
                            {{ form_errors(form.karfarma.company_name) }}
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="address">*پست الکترونیکی ثبت نام کننده</label>
                            {{ form_widget(form.email,{attr: {'class': 'form-control'}}) }}
                            {{ form_errors(form.email) }}
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            {{ form_label(form.karfarma.company_field) }}
                            {{ form_widget(form.karfarma.company_field,{attr: {'class': 'form-control'}}) }}
                            {{ form_errors(form.karfarma.company_field) }}
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="phone" class="title-label">شماره تماس ثبت نام کننده</label>
                            {{ form_widget(form.karfarma.telephone,{attr: {'class': 'form-control'}}) }}
                            {{ form_errors(form.karfarma.telephone) }}
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <div>
                                <label for="uploadAboutpicFile" style="display: block">توضيحات کارفرما [عكس يا پی دی اف]</label>
                                <div class="col-xs-4" style="padding: 0 5px 0 0;">
                                    <div style="width: 100%" class="fileUpload btn btn-primary">
                                        <span>انتخاب فایل</span>
                                        {{ form_widget(form.karfarma.aboutPicFile,{attr: {'class': 'upload'}}) }}
                                    </div>
                                </div>
                                <div class="col-xs-8" style="padding: 0">
                                    <span id="uploadAboutpicFile" class="form-control" style="width:100%;display:inline-block;white-space: nowrap;overflow: hidden;direction: ltr;text-overflow: ellipsis;" placeholder="نام فایل" disabled="disabled" >نام فایل</span>
                                </div>

                                {{ form_errors(form.karfarma.aboutPicFile) }}

                                {% if app.user.karfarma.aboutPic is not null %}
                                    <a href="{{ app.user.karfarma.aboutPicWeb }}">فایل کنونی</a><br>
                                {% endif %}

                                {% if app.user.karfarma.aboutPic is not null %}
                                    <label class="radio-inline">
                                        حذف فایل؟
                                        <input type="checkbox" value="1" name="deleteAboutPic">

                                    </label>
                                {% endif %}

                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            {{ form_label(form.karfarma.company_email) }}
                            {{ form_widget(form.karfarma.company_email,{attr: {'class': 'form-control'}}) }}
                            {{ form_errors(form.karfarma.company_email) }}
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="website">وبسایت</label>
                            {{ form_widget(form.karfarma.website,{attr: {'class':'form-control'}}) }}
                            {{ form_errors(form.karfarma.website) }}
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="address">*آدرس شرکت</label>
                            {{ form_widget(form.karfarma.address,{attr: {'class': 'form-control'}}) }}
                            {{ form_errors(form.karfarma.address) }}
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="phone_number" class="title-label">*تلفن کارفرما</label>
                            {{ form_widget(form.mobile,{attr: {'class': 'form-control'}}) }}
                            {{ form_errors(form.mobile) }}
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6"></div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            {{ form_label(form.karfarma.about) }}
                            {{ form_widget(form.karfarma.about,{attr: {'class': 'form-control'}}) }}
                            {{ form_errors(form.karfarma.about) }}
                        </div>
                    </div>
                </div>
                <div class="row" style="margin: 40px 0">
                    <div class="col-md-2 col-sm-2"></div>
                    <div class="col-md-8 col-sm-8" style="text-align: center">
                        <button type="submit" class="btn btn-success">ثبت تغییرات</button>
                    </div>
                    <div class="col-md-2 col-sm-2"></div>
                </div>
                {{ form_end(form) }}
            </div>
            <div class="col-md-1"></div>
        </div>
    </div>
    <script type="text/javascript">
        $(function() {
            $("input:file").change(function (){

                if ($(this)[0].id == "user_profile_karfarma_aboutPicFile")
                    $("#uploadAboutpicFile").html($(this).val());
            });
        });
    </script>
    <script type="text/javascript">
        $(function() {
            $("input:file").change(function (){
                if ($(this)[0].id == "fos_user_profile_karfarma_karfarma_file")
                    $("#uploadFile").html($(this).val());
                else if ($(this)[0].id == "fos_user_profile_karfarma_karfarma_aboutPicFile")
                    $("#uploadAboutpicFile").html($(this).val());
            });
        });
    </script>

{% endblock user_content %}
