{% extends '@swdtKaryab/base.html.twig' %}

{% block karyabContent %}
    <link rel="stylesheet" type="text/css" href="{{ asset('swdt_template/css.css') }}">
<style>.col-sm-6 {margin-bottom:10px}</style>
<!-- Start page header -->
    <section>
        <div class="container">
            <div class="row">
                <div class="col-sm-12" style="text-align:center">
                    <h3> درباره ما </h3>
                </div>
            </div>
            <img src="{{ asset('swdt_template/img/divider_shadow.png') }}" title="" width="100%" alt="" />
        </div>
    </section>
    <!-- End page header -->


    <section class="contact" style="text-align:right;direction:rtl;margin-top:30px;margin-bottom:70px">
        <div class="container">
            <div class="row">
                <div class="col-md-12 our-office">
                    <div class="test col-sm-12">
                        <h4>درباره کاریاب</h4>
                        <hr />
                        <p>وبسایت کاریاب در تاریخ شهریور ماه 1395 با هدف ایجاد بستر مناسب برای تسهیل ارتباط میان کارجو و کارفرما در دانشگاه شهید بهشتی کار خود را آغاز کرد . تیم کاریاب در تلاش است با دنبال کردن اهداف زیر گامی مهم در پیاده سازی سیستم های هوشمند جستجوی کار برای دانشجویان بردارد .</p>
<ul>
<li>گسترش طیف رشته ها در وبسایت کاریاب و تبدیل آن به یک بنگاه کاریابی جامع برای دانشجویان تمامی رشته ها</li>
<li>هوشمند سازی و بهینه سازی مستمر الگوریتم ارتباط کارجو با کارفرما</li>
<li>بهینه سازی مستمر رابط کاربری با توجه به نیاز کاربران سایت و افزودن امکانات مورد نیاز آن ها جهت تسهیل کار با وبسایت</li>

</ul>
<hr />
                        <h4>تیم کاریاب</h4>
                        <hr />
<p>اعضای گروه برنامه نویسی وب دانشگاه شهید بهشتی که در طراحی و توسعه کاریاب ایفای نقش می کنند </p>
<div class="col-sm-6">
<div class="test2 col-sm-12">
<div class="col-sm-6"><img width="100%" style="border-radius:5px" src="{{ asset('swdt_template/img/mahdi.jpg') }}" /></div>
<div class="col-sm-6" style="text-align:center">
<h4>محمد مهدی فاطمیان </h4>  
<h5>Project Manager / Senior Ui-Developer</h5>
                                       
                                         
                                        <div class="social">
							                <ul>
								                <li><a href="https://facebook.com/m48d1" target="_blank" style="color:rgb(68, 68, 182)" class="fa fa-facebook-square"></a></li>
								                {#<li><a href="#" target="_blank" style="color:rgb(239, 57, 57)" class="fa fa-google-plus-square"></a></li>#}
								                <li><a href="https://ir.linkedin.com/in/mahdi-fatemian-615047129" target="_blank" style="color:rgb(42, 42, 138)" class="fa fa-linkedin-square"></a></li>
								                <li><a href="https://instagram.com/m48d1" target="_blank" style="color:rgb(69, 221, 69)" class="fa fa-instagram"></a></li>

							                </ul>
	</div>					                </div>
</div>
</div>
<div class="col-sm-6">
<div class="test2 col-sm-12">
<div class="col-sm-6"><img width="100%" style="border-radius:5px" src="{{ asset('swdt_template/img/Mohammad.jpg') }}" /></div>
<div class="col-sm-6" style="text-align:center"><h4>محمد زمان زاده </h4>  
<h5>Co Project Manager / Senior PHP-Developer</h5>
                                       
                                         
                                        <div class="social">
							                <ul>
								                {#<li><a href="#" style="color:rgb(68, 68, 182)" class="fa fa-facebook-square"></a></li>#}
								                {#<li><a href="#" style="color:rgb(239, 57, 57)" class="fa fa-google-plus-square"></a></li>#}
								                <li><a href="https://www.linkedin.com/in/mzamanzadeh" target="_blank" style="color:rgb(42, 42, 138)" class="fa fa-linkedin-square"></a></li>
								                <li><a href="https://instagram.com/mohammadz96" target="_blank" style="color:rgb(69, 221, 69)" class="fa fa-instagram"></a></li>

							                </ul>
	</div>					                </div>
</div>
</div>

<div class="col-sm-6">
<div class="test2 col-sm-12">
<div class="col-sm-6"><img width="100%" style="border-radius:5px" src="{{ asset('swdt_template/img/ahmadreza.jpg') }}" /></div>
<div class="col-sm-6" style="text-align:center"><h4>احمدرضا حسین خانی </h4>  
<h5>Ui-Developer </h5>
                                       
                                         
                                        <div class="social">
							                <ul>
								                {#<li><a href="#" style="color:rgb(68, 68, 182)" class="fa fa-facebook-square"></a></li>#}
								                {#<li><a href="#" style="color:rgb(239, 57, 57)" class="fa fa-google-plus-square"></a></li>#}
								                {#<li><a href="#" style="color:rgb(42, 42, 138)" class="fa fa-linkedin-square"></a></li>#}
								                {#<li><a href="#" style="color:rgb(69, 221, 69)" class="fa fa-instagram"></a></li>#}

							                </ul>
	</div>					                </div>
</div>
</div>



<div class="col-sm-6">
<div class="test2 col-sm-12">
<div class="col-sm-6"><img width="100%" style="border-radius:5px" src="{{ asset('swdt_template/img/abbaszadeh.jpg') }}" /></div>
<div class="col-sm-6" style="text-align:center"><h4>مهدی عباس زاده</h4>  
<h5>PHP-Developer </h5>
                                       
                                         
                                        <div class="social">
							                <ul>
								                <li><a href="https://www.facebook.com/mahdi.asze" target="_blank" style="color:rgb(68, 68, 182)" class="fa fa-facebook-square"></a></li>
								                {#<li><a href="https://abaszade.mahdi@gmail.com" target="_blank" style="color:rgb(239, 57, 57)" class="fa fa-google-plus-square"></a></li>#}
								                {#<li><a href="#" style="color:rgb(42, 42, 138)" class="fa fa-linkedin-square"></a></li>#}
								                <li><a href="https://www.instagram.com/mahdi_asze/" target="_blank" style="color:rgb(69, 221, 69)" class="fa fa-instagram"></a></li>

							                </ul>
	
</div>					                </div>
</div>
</div>



<div class="col-sm-6">
<div class="test2 col-sm-12">
<div class="col-sm-6"><img width="100%" style="border-radius:5px" src="{{ asset('swdt_template/img/atena.jpg') }}" /></div>
<div class="col-sm-6" style="text-align:center"><h4>آتنا لرنی</h4>  
<h5>Ui-Designer / Graphist </h5>
                                       
                                         
                                        <div class="social">
							                <ul>
								                <li><a href="https://m.facebook.com/people/Atena-Larni/100003676091134" target="_blank" style="color:rgb(68, 68, 182)" class="fa fa-facebook-square"></a></li>
								                {#<li><a href="#" style="color:rgb(239, 57, 57)" class="fa fa-google-plus-square"></a></li>#}
								                <li><a href="https://ir.linkedin.com/in/atena-larni-9950a8112" target="_blank" style="color:rgb(42, 42, 138)" class="fa fa-linkedin-square"></a></li>
								                <li><a href="https://instagram.com/atiraz9675" target="_blank" style="color:rgb(69, 221, 69)" class="fa fa-instagram"></a></li>

							                </ul>
						                </div>
</div>
</div>
</div>

                </div>
                </div>

<div class="row"></div>
</div>
            </div>
    </section>

{% endblock %}


