{% if form is defined %}
{% form_theme form '@swdtKaryab/form_errors.html.twig' %}{% endif %}
<!DOCTYPE html>
<html lang="fa">
<head>
    <meta charset="UTF-8">
    <title>کاریاب {% block title %}{% endblock %}</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="{{ asset('swdt_template/bootstrap.min.css') }}">

    <script src="{{ asset('swdt_template/js/jquery.min.js') }}"></script>
    
    <script src="{{ asset('swdt_template/js/jquery-1.11.1.js') }}"></script>

    <script src="{{ asset('swdt_template/js/bootstrap.min.js') }}"></script>


    <script src="{{ asset('swdt_template/js/jquery.validate.js') }}"></script>

    <script src="{{ asset('swdt_template/js/form-validation.js') }}"></script>

    <script src="{{ asset('swdt_template/js/additional-methods.js') }}"></script>

    <script src="{{ asset('swdt_template/js/bootstrap-select.min.js') }}"></script>

    <link rel="stylesheet" href="{{ asset('swdt_template/css/bootstrap-select.min.css') }}">
    <link rel="stylesheet" href="{{ asset('swdt_template/font-awesome-4.7.0/css/font-awesome.min.css') }}">

    <link rel="stylesheet" type="text/css" href="{{ asset('swdt_template/NewCss.css') }}">
<style>
.close{
    float: left;
}
.modal-content{
    text-align: right;
}
.modal-footer{
    text-align: center;
}
</style>
</head>
<body>
<!-- Modal -->
<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        {{ render(controller('swdtUserBundle:Security:login')) }}

    </div>
</div>
<nav class="menu-desktop">
    <div class="container-fluid">
        <ul>
            <li><a href="{{ path('swdt_karyab_homepage') }}#contact_Us">
                    <div>
                        <i class="fa fa-phone" aria-hidden="true"></i>
                    </div>
                    <div>
                        <span>تماس با ما</span>
                    </div>
                </a>
            </li>
            <li><a href="{{ path('swdt_karyab_homepage') }}#about_Us">
                    <div>
                        <i class="fa fa-info" aria-hidden="true"></i>
                    </div>
                    <div>
                        <span>درباره ی ما</span>
                    </div>
                </a>
            </li>
            <li><a href="{{ path('swdt_karyab_homepage') }}">
                    <div>
                        <i class="fa fa-home" aria-hidden="true"></i>
                    </div>
                    <div>
                        <span>خانه</span>
                    </div>
                </a>
            </li>
            {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                <li class="exception-menu-item"><a href="{{ path('swdt_karyab_dashboard') }}">
                        <div>
                            <i class="fa fa-th-large" aria-hidden="true"></i>
                        </div>
                        <div>
                            <span>پنل کاربری</span>
                        </div>
                    </a>
                </li>
            {% else %}
                <li class="exception-menu-item">
                    <a  data-toggle="modal" data-target="#myModal">
                        <div>
                            <i class="fa fa-user" aria-hidden="true"></i>
                        </div>
                        <div>
                            <span>ورود</span>
                        </div>
                    </a>
                </li>
            {% endif %}
        </ul>

    </div>
</nav>
<button class="linesButton-menu-mobile">
    <span class="lines-menu-mobile lines-menu-mobile_1"></span>
    <span class="lines-menu-mobile lines-menu-mobile_2"></span>
    <span class="lines-menu-mobile lines-menu-mobile_3"></span>
</button>
<div class="container-fluid menu-mobile">
    <div class="row">
        <div class="col-xs-2"></div>
        <div class="col-xs-2">
            <div>
                <a href="{{ path('swdt_karyab_homepage') }}#about_Us‌">
                    <i class="fa fa-info menu-icon-mobile" aria-hidden="true"></i>
                    <span>درباره ی ما</span>
                </a>
            </div>
        </div>
        <div class="col-xs-2">
            <div>
                <a href="{{ path('swdt_karyab_homepage') }}">
                    <i class="fa fa-home menu-icon-mobile" aria-hidden="true"></i>
                    <span>خانه</span>
                </a>
            </div>
        </div>
        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
            <div class="col-xs-2">
                <div>
                    <a href="{{ path('swdt_karyab_dashboard') }}">
                        <i class="fa fa-th-large menu-icon-mobile" aria-hidden="true"></i>
                        <span>پنل کاربری</span>
                    </a>
                </div>
            </div>
        {% else %}
            <div class="col-xs-2">
                <div>
                    <a data-toggle="modal" data-target="#myModal">
                        <i class="fa fa-user menu-icon-mobile" aria-hidden="true"></i>
                        <span>ورود</span>
                    </a>
                </div>
            </div>
        {% endif %}
        <div class="col-xs-2">
            <div>
                <a href="{{ path('swdt_karyab_homepage') }}#contact_Us">
                    <i class="fa fa-phone menu-icon-mobile" aria-hidden="true"></i>
                    <span>تماس با ما</span>
                </a>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        $(".linesButton-menu-mobile").click(function () {
            $(".lines-menu-mobile_1").toggleClass('changed');
            $(".lines-menu-mobile_2").toggleClass('changed');
            $(".lines-menu-mobile_3").toggleClass('changed');
            $(".menu-mobile").toggleClass('changed');
        });
    });
</script>






{#<div class="container-fluid" style="font-family:yekan;text-align:right;padding:10px;padding-right:25px;padding-left:25px" id="bor">#}
{##}
    {#<div style="float:left">23:22:12 | دوشنبه 24 دی 1395</div>#}
{##}
    {#{% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}#}
    {#<div>{{ app.user.fName }} {{ app.user.lName }} عزیز خوش آمدید</div>#}
    {#{% endif %}#}
{#</div>#}
{% block karyabContent %}{% endblock %}
{#<div class="container-fluid my_footer">#}
    {#<span>محصولی از تیم وب دانشگاه شهید بهشتی</span>#}
    {#<ul>#}
        {#<li><a href="#">وبلاگ</a><i class="fa fa-circle" style="font-size: 0.5em;color: #D81B60;margin-left: 3px"></i></li>#}
        {#<li><a href="#">تماس با ما</a><i class="fa fa-circle" style="font-size: 0.5em;color: #D81B60;margin-left: 3px"></i></li>#}
        {#<li><a href="#">امکانات</a></li>#}
    {#</ul>#}
{#</div>#}
</body>
</html>