{% extends '@amUser/layoutKarfarma.html.twig' %}
{% block user_content %}
    <style>
        .expbox{
            display:inline-block;
            padding:3px;
            background-color:#C7F464;
            border-radius:2px;
            margin-left:3px;
            color:#263238;
            margin-top:5px;
        }
    </style>
    <script src="{{ asset('am_template/js/persian-datepicker.js') }}"></script>
    <link rel="stylesheet" href="{{ asset('am_template/persian-datepicker.css') }}">
    <div class="container-fluid add-advertise-parent">
        <div class="row">
            <div class="col-md-2"></div>
            <div class="container-fluid col-md-9 add-advertise">
                {{ form_start(form) }}
                <div class="row">
                    {% if form.vars.errors %}
                        <div class="errorBox">{{ form_errors(form) }}</div>
                    {% endif %}
                </div>
                <div class="row">
                    <div class="col-sm-6 right-float">
                        <div class="col-xs-12">
                            <div class="form-group">
                                {{ form_label(form.title) }}
                                {{ form_widget(form.title,{attr: {'class': 'form-control'}}) }}
                                {{ form_errors(form.title) }}
                            </div>
                        </div>
                        <div class="col-xs-12">
                            <div class="form-group">
                                <label for="temp1">*تاریخ انقضا:</label>
                                {{ form_widget(form.expireDate,{attr: {'class': 'form-control'}}) }}
                                {{ form_errors(form.expireDate) }}

                            </div>
                        </div>
                        <div class="col-xs-12">
                            <div class="form-group">
                                <div>
                                    <label for="uploadFile">توضيحات آگهی [عكس يا پی دی اف]</label><br>
                                    <div class="col-xs-4" style="padding: 0 5px 0 0;">
                                        <div style="width: 100%" class="fileUpload btn btn-primary">
                                            <span>انتخاب فایل</span>
                                            {{ form_widget(form.brochure_file,{attr: {'class': 'upload'}}) }}
                                        </div>
                                    </div>
                                    <div class="col-xs-8" style="padding: 0">
                                        <span id="uploadFile" class="form-control" style="width:100%;display:inline-block;white-space: nowrap;overflow: hidden;direction: ltr;text-overflow: ellipsis;" placeholder="نام فایل" disabled="disabled" >نام فایل</span>
                                    </div>


                                    {{ form_errors(form.brochure_file) }}

                                    {% if brochure is not null %}
                                        <a href="{{ brochureWeb }}">فایل کنونی</a><br>
                                    {% endif %}

                                    {% if brochure is not null %}
                                        <label class="radio-inline">
                                            حذف فایل؟
                                            <input type="checkbox" value="1" name="deleteBrochure">

                                        </label>
                                    {% endif %}

                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12">
                            <div class="form-group select-cooperation">
                                <label>وضعیت استخدامی</label><br>
                                {{ form_widget(form.coOperation) }}
                                {{ form_errors(form.coOperation) }}
                            </div>
                        </div>
                        <div class="col-xs-12">
                            <div class="form-group">
                                {{ form_errors(form.skillTags) }}
                                <label for="mz_skillTag">*مهارت های مورد نیاز</label><br>
                                <div class="col-xs-4" style="padding: 0 5px 0 0">
                                    <span style="width: 100%" class="btn btn-primary"  onclick="addexp()">افزودن</span>
                                </div>
                                <div class="col-xs-8 select-skill" style="padding: 0">
                                    <select class="selectpicker" data-live-search="true" data-width="100%" id="mz_skillTag">
                                        {% for t in tags %}<option value='{{ t.id }}'>{{ t.name }}</option>{% endfor %}
                                    </select>
                                </div>
                                <div style="clear: both"></div>
                                <div id="expriences" style="display:block">
                                    <label style="display:block;margin-top:10px;">لیست مهارت ها :</label>
                                    {% if skills is defined %}
                                        {% for skillField in skills %}
                                            <div class="expbox" id="exp_{{ skillField.id }}">{{ skillField.name }}
                                                <span style="margin-right:3px;cursor:pointer" onclick="delexp('{{ skillField.id }}')" class="fa fa-times-circle"></span></div>
                                        {% endfor %}
                                    {% endif %}
                                </div>
                                <div id="tagWidgets">
                                    {% if skills is defined %}
                                        {% for tag in skills %}
                                            <input type="hidden" value="{{ tag.id }}" name="mz_new_advertize[skillTags][]" id="mz_new_advertize_skillTags_{{ tag.id }}">
                                        {% endfor %}
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 right-float">
                        <div class="col-xs-12">
                            <div class="form-group">
                                <label>حداقل میزان تحصیلات</label><br>
                                {{ form_widget(form.grade) }}
                                {{ form_errors(form.grade) }}
                            </div>
                        </div>
                        <div class="col-xs-12">
                            <div class="form-group">
                                <label>وضعیت سربازی</label><br>
                                {{ form_widget(form.soldiery) }}
                                {{ form_errors(form.soldiery) }}
                            </div>
                        </div>
                        <div class="col-xs-12">
                            <div class="form-group">
                                <label>جنسیت</label><br>
                                {{ form_widget(form.gender) }}
                                {{ form_errors(form.gender) }}
                            </div>
                        </div>
                        <div class="col-xs-12">
                            <div class="form-group">
                                <label for="temp1">شرح آگهی ارسالی</label>
                                {{ form_widget(form.description,{attr: {'class': 'form-control'}}) }}
                            </div>
                        </div>
                        <div class="col-xs-12">
                            <div class="form-group">
                                <label for="temp2">سایر مهارت ها</label>
                                {{ form_widget(form.otherSkills,{attr: {'class': 'form-control'}}) }}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row" style="margin: 40px 0">
                    <div class="col-md-2 col-sm-2"></div>
                    <div class="col-md-8 col-sm-8" style="text-align: center">
                        <button type="submit" class="btn btn-success">ثبت آگهی</button>
                        <input type="hidden" name="mz_new_advertize[_token]" value="{{ form._token.vars.value }}">
                    </div>
                    <div class="col-md-2 col-sm-2"></div>
                </div>
                {{ form_end(form,{'render_rest': false}) }}
            </div>
            <div class="col-md-1"></div>
        </div>
    </div>
    <script>
        var exp = {};

        function addexp() {
            tagId=$("#mz_skillTag").val();

            if(tagId in exp)
                return alert("این تگ را قبلا اضافه کرده اید!");

                exp[tagId] = true;

                $("#expriences").append("<div id='exp_"+tagId+"' class=\"expbox\">" + $("#mz_skillTag option:selected").text() + "<span style=\"margin-right:3px;cursor:pointer\" onclick=\"delexp('" + tagId + "')\" class=\"fa fa-times-circle\"></span></div>");
                $("#tagWidgets").append("<input type=\"hidden\" value='"+tagId+"' name='mz_new_advertize[skillTags][]' id='mz_new_advertize_skillTags_"+tagId+"'>");

        }

        function delexp(tag_id) {
                delete exp[tag_id];
                $('#mz_new_advertize_skillTags_'+tag_id).remove();
                $('#exp_'+tag_id).remove();
        }
    </script>
    <script src="{{ asset('am_template/jquery-ui-1.12.0.custom/jquery-ui.min.js') }}"></script>
    <script type="text/javascript">
        $(function() {
            $("input:file").change(function (){

                if ($(this)[0].id == "mz_new_advertize_brochure_file")
                    $("#uploadFile").html($(this).val());
            });
        });
    </script>
    <script>
        $(document).ready(function (){
            $('#mz_new_advertize_expireDate').datepicker();
            $('#mz_new_advertize_coOperation').addClass('selectpicker');
        })
    </script>
{% endblock %}